.header {
  font-size:400%;
  font-style:italic;
  font-weight:bold;
  background-color: #f1f1f1;
  padding:1px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
#a{ 
background:purple;
     color:yellow;
}
table{
border: 1px solid black
}
th{
background:yellow
}
#ll{
float:middle;
}